/*TABLE WIDGET*/
.tblwidget{width:99%;font-size:10px;}
.tblwidget th{border:1px solid lightgray;padding:2px;border-spacing:10px;background-color:#EEEEEE;}
.tblwidget th a{color:#6B7A85;}
.tblwidget td{border:1px solid lightgray;padding:2px;border-spacing:10px;text-align:left;}
.tasto{background-color:#EEEEEE;width:100%;display:inline;float:none;border:1px solid #DDDDDD;}
.id_table{background-color:#EEEEEE;border:1px solid #DDDDDD;}
/*TABLE WIDGET ROWS*/
.row_on{background-color:#DDDDDD;}
.row_off{background-color:#EEEEEE;}

/* PAGING TABLE */
.paging{background-color:#EEEEEE;border:1px solid #DDDDDD;}


/* TITLE PANEL / BUTTON PANEL*/
.titolo_panel{border:1px solid lightgray;padding:4px;text-align:left;background-color:#EEEEEE;}
.titolo_input{border:0px;padding:2px;font-size:12px;background-color:#DDDDDD;width:100%;text-align:right;}


/* FILTER TABLE WIDGETS */
.filter ,.filtroaz{background-color:#DDDDDD;}
.filter input{width:auto;display:inline;float:none;}
.filtroaz input{background-color:#EEEEEE;width:auto;display:inline;float:none;margin:0px;padding:1px;}


/* TOOLBAR */
.toolbar_form{clear:both;border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;margin-bottom:10px;margin-top:10px;width:100%;}
.toolbar_form input{width:auto;display:inline;float:none;margin:0px;padding:1px;background-color:white;}
.toolbar_sp{border-right:1px solid #DDDDDD;}

/* DESKWEBFORM */
.deskwebform{border:1px solid lightgray;text-align:left;font-size:10px;}
.deskwebform label{padding-left:60px;display:block;float:left;width:30%;}
.deskwebform textarea{margin:0px;padding:1px;border-style:solid;background-color:#6B7A85;color:white;width:99%;height:200px;}
.deskwebform input.input_text{width:20%;margin:0px;padding:1px;border-style:solid;background-color:#6B7A85;color:white;}
.deskwebform select{width:20%;border:0px;margin:0px;padding:1px;background-color:#6B7A85;color:white;}
.deskwebform option{margin:0px;background-color:#6B7A85;color:white;}

/* PAGING FORM*/
.page_form{margin:auto;margin-bottom:10px;margin-top:10px;width:100%;background-color:#DDDDDD;text-align:center;}
.deskwebform input.disformpage{border:0px;margin-left:1px;margin-right:1px;padding:5px;border-spacing:10px;background-color:white;color:black;}
.deskwebform input.formpage{border:1px solid white;padding:5px;background-color:#DDDDDD;color:black;}

/* IMAGE FIELD */
.field_image{float:left;width:auto;width:25%;}
.field_image th{width:auto;}
.field_image input{width:70%}
.form_image_field{clear:both;overflow:auto;}
