.dweditor_form{margin-top:24px!important;margin-top:0px;overflow:auto;height:90%;}
.dweditor textarea{width:90%;height:80%;overflow:auto;}
.editor_panel{height:80%;overflow:auto;clear:both;padding-top:20px;background-color:white;width:100%;text-align:center;margin:auto;}